{% extends 'electionsbase.html' %}

{% block pagetitle %} Elections {% endblock %}
{% block title %}List of Current Elections{% endblock %}
{% block primary %}
<div class="row">
	<div class="col-lg-12">
	{% if latest_election_list %}
	    <ul>
	    {% for election in latest_election_list %}
	        <li>
				<a href="{% url 'elections:detail' election.id %}">{{ election.name  }}</a>
				{# <a href="/elections/{{ election.id }}/">{{ election.name }}</a>  #}
				for the {{ election.congress.name }} Congress and {{ election.region.name }} region of type 
				{{ election.electiontype_text }} : {{ election.total_votes }}
			</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No elections are available.</p>
	{% endif %}
	</div>
</div>
{% endblock primary %}
